@page "{cardId}/{groupId}"
@model Monappoly_ASP.Pages.Objects.Cards.Action.Group

@{
    ViewData["Title"] = $"{(Model.Adding ? "Add" : "Edit")} Group";
}

<div class="container-40">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <div class="card mb-3">
        <div class="card-header bg-highlight-light text-white">
            <h5 class="card-title">Card Information</h5>
        </div>
        <div class="card-body bg-light">
            <p>
                <b>Card Deck: </b>@Model.Card.CardDeck.Name<br/>
                @Model.Card.CardDeck.Description
            </p>
            <p>
                <b>Card Type: </b>@Model.Card.CardType.Name<br/>
                @Model.Card.CardType.Description
            </p>
            <p><b>Text:</b><br/>@Model.Card.Text</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header bg-warning">
            <h5 class="card-title">Group</h5>
        </div>
        <div class="card-body bg-light">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is-keep" asp-for="Input.IsKeep"/>
                    <label class="form-check-label" for="is-keep" asp-for="Input.IsKeep"></label>
                    <span asp-validation-for="Input.IsKeep" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.PlayCondition" class="form-label"></label>
                    <select asp-for="Input.PlayCondition" asp-items="Model.PlayConditions" class="chosen-select form-control mt-1 mb-1"></select>
                    <span asp-validation-for="Input.PlayCondition" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.GroupLengthType" class="form-label"></label>
                    <select asp-for="Input.GroupLengthType" asp-items="Model.LengthTypes" class="form-control"></select>
                    <span asp-validation-for="Input.GroupLengthType" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="is-forced" asp-for="Input.IsForced"/>
                    <label class="form-check-label" for="is-forced" asp-for="Input.IsForced"></label>
                    <span asp-validation-for="Input.IsForced" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Player" class="form-label"></label>
                    <select asp-for="Input.Player" asp-items="Model.Players" class="form-control"></select>
                    <span asp-validation-for="Input.Player" class="text-danger"></span>
                </div>
                <button class="btn btn-success mt-2" type="submit">@(Model.Adding ? "Create Group" : "Modify Group")</button>
                <button class="btn btn-danger mt-2 mx-3" type="button" title="Cancel and go back to the previous page"
                        onclick="location.assign('/Objects/Cards/Action/@(Model.Card.Id)')">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
<script type="text/javascript">
    $(".chosen-select").chosen()
</script>
}